@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  } 
}

body {
  @apply font-Roboto bg-secondary-600 text-slate-800;
  @apply md:flex md:justify-center md:items-center;
  margin: 0;
  min-width: 100wv;
  min-height: 100dvh ;
}



