@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  @apply font-Roboto;
  @apply bg-secondary-600;
  @apply text-slate-800;
  margin: 0;
  min-width: 100wv;
}



